<html>
    <head>
        <title>Contact Abigail</title>
    </head>

    <body>
        <div id="contact">
            <h1 class="contactheader">Contact Me</h1>
            <div class="contactform">
                <form action="/thanks" method="POST">
                    <label for="firstName">First Name</label>
                    <input id="firstName" name="firstName" type="text" placeholder="First name">
    
                    <label for="lastName">Last Name</label>
                    <input id="lastName" name="lastName" type="text" placeholder="Last name">
    
                    <label for="email">Email:</label>
                    <input id="email" name="email" type="text" placeholder="Enter Email Address">
    
                    <input class="portButton" type="submit" value="Submit">
                </form>
    
            </div>
    
        </div>
    </body>
</html>